<form method="get" name="downform" action="/q">
  Is 
  <input type="text" name="domain" id="domain_input" value="google.com" onclick="clearDomainInput(this);" /> 
  down for everyone
  <a href="javascript:document.downform.submit();">or just me?</a>
  <input type="submit" style="display: none;" />
</form>