<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <title><%= @title %></title>
    <style type="text/css">
      body { 
        background-color: #fff;
        color: #333;
        font-family: Arial, Verdana, sans-serif;
        font-size: 62.5%;
        margin: 10% 5% 0 5%;
        text-align: center;
      }
      
      a, a:visited, a:active {
        color: #0080ff;
        text-decoration: underline;
      }
      
      a:hover { text-decoration: none; }
      
      input[type=text] {
        border: 1px solid #ccc;
        color: #ccc;
        font-size: 1em;
        padding: 4px 6px 4px 6px;
      }
      
      .domain { font-weight: bold; }
      
      #container {
       clear: both;
       font-size: 3em;
       margin: auto;
      }
      
      #domain_input { width: 250px; }
    </style>
    <script type="text/javascript">
      function clearDomainInput() {
        document.getElementById('domain_input').value = "";
        document.getElementById('domain_input').style.color = "#000";
      }
    </script>
  </head>
  <body>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>