<br />
<center>
  <div style="width:500px;height:200px;overflow:hidden;">
    <script type="text/javascript">
    _JS_AFF_ID = 21;
    _JS_JOB_COUNT = 4;
    _JS_FONT_SIZE = 10;
    _JS_FONT = "Arial";
    _JS_HEADER_COLOR = "#ff8000";
    _JS_TEXT_COLOR = "#000000";
    _JS_COMPANY_COLOR = "#0080ff";
    _JS_AD_ORIENTATION = "2";
    _JS_JOB_LIST = new Array();
    _JS_LINK_STYLE = 0;
    </script>
    <script type="text/javascript" src="http://jobsyndicate.com/JServ/Generic.js"></script>
  </div>
</center>